# Compiled object files
*.o

# Executables
*.exe
*.out

# Libraries
*.a
*.lib

# Debugging files
*.dSYM/
*.su
*.idb
*.pdb

# IDE files
.vscode/
*.code-workspace
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
